[Unit]
Description=A reverse-proxy/portal service to quickly access multiple proxmox ve clusters.
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/pveportal
ExecStart=/usr/bin/pveportal -c /etc/pveportal/pveportal.yaml

[Install]
WantedBy=multi-user.target
